.currencyItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.currencyItem:not(:last-child) {
  margin-bottom: 25px;
}

.checkbox {
  margin-right: 15px;
  padding: 0;
}

.currencyValue {
  padding: 0;
  margin: 0;
}

.circle {
  width: 20px;
  height: 20px;
  border: 1px solid #838B95;
  border-radius: 50%;
  margin-right: 14px;
}
