.productCharWrapper {
  width: 450px;
  background-color: #FBFBFB;
  padding: 23px 18px;
  margin-top: 24px;
}

.titleBadge {
  color: #3D3D3D;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 18px;
}

.collapsedBadge {
  position: absolute;
  background-color: #F4F6F9;
  padding: 11px 8px 5px 16px;
  display: none;
}

.charDivider {
  display: block;
}

@media (max-width: 1000px) {
  .productCharWrapper {
    height: auto;
  }
  .titleBadge {
    display: none;
  }
  .productCharWrapper {
    position: relative;
    background-color: #F4F6F9;
  }
}

@media (max-width: 775px) {
  .productCharWrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  .collapsedBadge {
    display: block;
    left: 0;
    top: -35px;
    border-radius: 3px;
  }
}

@media (max-width: 459px) {
  .productCharWrapper {
    width: 100vw;
    margin: 20px auto 11px;
    padding: 13px 0 9px 16px;
    background-color: #F4F6F9;
  }
  .colItem {
    margin: 9px 0;
  }
  .charDivider {
    display: none;
  }
}
