@import "~antd/dist/antd.css";

@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Roboto:wght@500&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.page-layout-sider {
  background-color: #212122;
  width: 500px !important;
}

.page-layout-header {
  background: linear-gradient(90.74deg, #e3eeff -37.48%, #f8fbff 108.93%);
}

.ant-card {
  border-radius: 0;
}

.ant-card-head {
  height: 60px;
  padding: 0 !important;
}

.ant-card-head-title {
  padding: 0;
}

.ant-card-body {
  padding: 0px 10px;
}

.ant-drawer-body {
  padding: 33px 9px 0 0;
}

.ant-drawer-header {
  padding: 0;
}

.ant-layout-content {
  padding: 0 25px !important;
}

.ant-tooltip-inner {
  color: #3B4554;
  font-size: 14px;
  border-radius: 3px;
  background-color: #EAF2FF;
}


@media (max-width: 400px) {
  .ant-layout-content {
    padding: 0 5px !important;
  }
}
